{% extends 'base.html.twig' %}
{% block body %}
	<table>
		<tr>
			<td>N°</td>
			<td>Nom</td>
			<td>Prix</td>
			<td>Date de création</td>
		</tr>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for ingredient in ingredients %}

			<tr>
				<td>{{loop.index}}
				</td>
				<td>{{ ingredient.nom }}
				</td>
				<td>{{ingredient.prix}}
				</td>
				<td>{{ingredient.createdAt|date("m/d/Y")}}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
