{% extends 'base.html.twig' %}
{% block body %}
	<style>
		img {
			width: 50px;
			height: 50px;
		}
	</style>
	<img src="{{asset('images/logo.png')}}" alt="logo">
	{% if app.user %}
		<div class="mb-3">
			You are logged

			<a href="{{ path('app_logout') }}">Se déconnecter (
				{{ app.user.userIdentifier }}
				)</a>
		</div>
	{% endif %}

	<a href="{{ path('ingredient.create_store_V3') }}">
		<button type="button" class="btn btn-primary">Créer un ingrédient</button>
	</a>


	<table class="table">
		<tr>
			<th scope="col">N°</th>
			<th scope="col">Nom</th>
			<th scope="col">Prix</th>
			<th scope="col">Date de création</th>
			<th scope="col">Dernière modification</th>
			<th scope="col">Modifier</th>
			<th scope="col">Supprimer</th>
		</tr>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for ingredient in ingredients %}
			{% if ingredient.nom == "toto" %}
				{# {{dump(ingredient)}} #}
			{% endif %}

			<tr>
				<td>{{loop.index}}
				</td>
				<td>{{ ingredient.nom }}
				</td>
				<td>{{ingredient.prix | number_format(2)}}
				</td>
				<td>{{ingredient.createdAt|date("m/d/Y H:m")}}
				</td>
				<td>{{ingredient.updatedAt|date("m/d/Y H:m")}}
				</td>
				<td>
					<a href="{{ path('ingredient.edit', {id: ingredient.id},) }}">
						Modifier
					</a>
				</td>
				<td>
					<form action="{{ path('ingredient.destroy', {id: ingredient.id},) }}">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-danger">Supprimer</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>

	<script src="{{asset('js/script_index.js')}}"></script>
{% endblock %}
