{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!
{% endblock %}

{% block body %}
	<style></style>
	<a href="{{ path('recette.create_store') }}">
		<button type="button" class="btn btn-primary">Créer une recette</button>
	</a>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Temps</th>
			<th>Description</th>
			<th>prix</th>
			<th>Difficulté</th>
			<th>ingrédients</th>
		</tr>
		<tr>
			{% for recette in recettes %}
				<td>{{recette.id}}</td>
				<td>{{recette.nom}}</td>
				<td>{{recette.temps}}</td>
				<td>{{recette.Description}}</td>
				<td>{{recette.prix}}</td>
				<td>{{recette.difficulte}}</td>
				<td>
					{% for ingredient in recette.ingredient %}
						{{ingredient.nom}},
					{% endfor %}
				</td>

			</tr>
		{% endfor %}

	</table>

{% endblock %}
